$primary-color: #20948B;
$secondary-color: #F9BE02;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.containers {
    border: 2px solid gray;
    width: 48rem;
    margin-left: auto;
    margin-right: auto;
}

// Header-section
.flex-wrapper {
    display: flex;
}

.header {
    background-color: $primary-color;
    height: 100vh;
    width: 20em;
    position: fixed;
}

.header__profile {
    margin: 1rem auto 2rem auto;
    width: 150px;
}

.header {
    text-align: center;
}

.header__title {
    font-style: italic;
    margin: 1rem 0;
}

.header__name, .header__title {
    color: #FFF;
}

.nav {
    ul {
        list-style-type: none;
    }
    li {
        color: #FFF;
        padding: 1rem;
        text-align: center;
    }
    li:hover {
        background-color: $secondary-color;
        color: black;
        cursor: pointer;
    }
}

.header__footer {
    bottom: 0;
    margin-bottom: 6rem;
    position: absolute;
    width: inherit;
    ul {
        display: inline-block;
        list-style-type: none;
        margin: 0 2rem;
        a {
            text-decoration-color: #FFF;
        }
    }
}

.header__footer-icons {
    color: $secondary-color;
}
// End of header Section

// About - 1 section
.main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.main__section-one:before {
    background-image: url('https://via.placeholder.com/800');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 15em;
    width: 100%;
}

// End of About section

// Skills & Technologies -2 section
.section-two__icon-list {
    list-style-type: none;
    li {
        display: inline-block;
        padding: 8px 16px;
    }
    h3 {
        text-align: center;
    }
}

.section-two__icons {
    width: 80px;
    height: auto;
}
// End of Skills & Technologies section

// Projects -3 section
.project-overlay {
    display: inline-block;
    position: relative;
    width: 45%;
}
.project-images {
    display: block;
    width: 100%;
}

.project-links-container {
    border: 1px solid green;
}

.project-links {
    background-color: #FFF;
    border-radius: 10px;
    display: none;
    padding: 8px 16px;
    position: absolute;
    text-decoration: none;
    top: 40%;
    left: 40%;
}

// Hover to display link
.project-overlay:hover {
    .project-links {
        display: block;
    }
}

.project-descriptions {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    .technology-lists {
        display: inline-block;
        list-style-position: inside;
        margin-top: 2rem;
        li {
            padding-left: 1rem;
        }
    }
}
.project-infos {
    font-style: italic;
    margin-top: 0.5rem;
}
// End of Project section