$primary-color: #20948B;
$secondary-color: #F9BE02;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.containers {
    width: 56rem;
    margin-left: auto;
    margin-right: auto;
}

.section-headers {
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 48px 0px;
}

// Header-section
.flex-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: $primary-color;
    height: 100%;
    width: 20em;
}

.header__profile {
    margin: 1rem auto 2rem auto;
    width: 150px;
}

.header {
    text-align: center;
}

.header__title {
    font-style: italic;
    margin: 1rem 0;
}

.header__name, .header__title {
    color: #FFF;
}

.header__nav {
    .header__nav-list {
        list-style-type: none;
    }
    .nav-items {
        color: #FFF;
        padding: 1rem;
        text-align: center;
    }
    .nav-items:hover {
        background-color: $secondary-color;
        color: black;
        cursor: pointer;
    }
}

.header__footer {
    bottom: 0;
    margin-bottom: 6rem;
    position: absolute;
    width: inherit;
    .header__footer-list {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        .footer-items a{
            text-decoration-color: #FFF;
        }
    }
}

.footer-icons {
    color: $secondary-color;
}
// End of header Section

// About - 1 section
.main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.main__section-one:before {
    background-image: url('https://via.placeholder.com/800');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 15em;
    width: 100%;
}

.section-one__header {
    font-size: 4rem;
    padding-top: 80px;
}

.section-one__content {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: 32px;
}

.about-email {
    margin-bottom: 48px;
    a {
        color: $primary-color;
        text-decoration: none;
    }
    a:hover {
        color: $secondary-color;
    }
}

// End of About section

// Skills & Technologies -2 section
.main__section-two {
    border-top: 6px solid #F4F4F4;
}

.section-two__icon-list {
    list-style-type: none;
    li {
        display: inline-block;
        padding: 24px 16px 32px 16px;
    }
    h3 {
        text-align: center;
    }
}

.section-two__icons {
    height: auto;
    width: 80px;
}
// End of Skills & Technologies section

// Projects -3 section
.main__section-three {
    border-top: 6px solid #F4F4F4;
}
.project-overlay {
    display: inline-block;
    position: relative;
    width: 45%;
}
.project-images {
    display: block;
    width: 100%;
}

.project-links-container {
    border: 1px solid green;
}

.project-links {
    background-color: #FFF;
    border-radius: 10px;
    display: none;
    padding: 8px 16px;
    position: absolute;
    text-decoration: none;
    top: 40%;
    left: 40%;
}

// Hover to display link
.project-overlay:hover {
    .project-links {
        display: block;
    }
}

.project-descriptions {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    .technology-lists {
        display: inline-block;
        list-style-position: inside;
        margin-top: 2rem;
        li {
            padding-left: 1rem;
        }
    }
}
.project-infos {
    font-style: italic;
    margin-top: 0.5rem;
}
// End of Project section